{% extends "biz/header.html" %}
{% block title %}About Us{% endblock %}
{% block content %}
<div class="row-fluid">
  <div class="span12">
    <div id="contentInnerSeparator"></div>
  </div>
</div>
</div>

<div class="contentArea">
  
  <div class="divPanel notop page-content">
    
    <div class="breadcrumbs">
      <a href="{{base_url}}">Home</a> &nbsp;/&nbsp; <span>About Us</span>
    </div>
    
    <div class="row-fluid">
      <!--Edit Main Content Area here-->
      <div class="span12" id="divMain">
	
        <h1>About Us</h1>
	<hr>
	<h3>Our Goal</h3>
        <p><strong>We want to be the largest portal in Kenya for blood donors. We want to make sure no one ever has to suffer or die because of a shortage of blood in the blood banks.</strong></p>                                 
        <p>We shall do this by creating a database of potential donors. We shall enable people in need to send pleas using our portal. Our robust engine shall then do an analysis of donors based on blood group, location, date of last donation among other variables and send alerts to viable potential donors.</p>
	  <h3>Our Team</h3>
	  <div class="row-fluid">		
	    <div class="span2">             
	      <img src="{{media_url}}biz/images/services-image.jpg" class="img-polaroid" style="margin:5px 0px 15px;" alt="">   
	    </div> 
            <div class="span10">            
	      <h4>Samuel Magondu</h4>
              <p>Samuel is a software engineer with over 5 years of experience developing web applications. He started the company while at the University of Nairobi. While not coding, He is either in church or, you know, coding.</p>
            </div>		 
          </div>
	  <div class="row-fluid">		
	    <div class="span2">             
	      <img src="{{media_url}}biz/images/services-image.jpg" class="img-polaroid" style="margin:5px 0px 15px;" alt="">   
	    </div> 
            <div class="span10">            
	      <h4>Eunice Wairimu</h4>
              <p>Eunice is a statistician by training. She works on the operations of the organization as well as assisting us grow our database. While not busy making sure we are up and running, she likes to take numerous photos of herself. We know, we also think its weird.</p>
            </div>		 
          </div>
      </div>
      <!--End Main Content Area here-->
      
    </div>
    {% endblock %}
