{% extends "biz/header.html" %}
{% block title %}Home{% endblock %}

{% block breadcrumb %}

<ol class="breadcrumb">
  <li class="active">Home</li>
</ol>

{% endblock %}


{% block content %}

<div class="row-fluid">
  <div class="span12">
    
    <div id="headerSeparator"></div>
    
    <div class="camera_full_width">
      <div id="camera_wrap">
        <div data-src="{{media_url}}biz/images/Happy_people_in_PNG.jpg" ></div>
	<div data-src="{{media_url}}biz/images/happy children.jpg" ></div>
	<div data-src="{{media_url}}biz/images/mother and child.jpg"></div>
	<div data-src="{{media_url}}biz/images/people on bicycles.jpg"></div>
	<!--<div data-src="{{media_url}}biz/images/Jogging_Woman_in_Grass.jpg"><div class="camera_caption fadeFromBottom cap2"></div></div>-->
      </div>
      <br style="clear:both"/><div style="margin-bottom:40px"></div>
    </div>               
    
    <div id="headerSeparator2"></div>
    
  </div>
</div>
</div>

<div class="contentArea">
  
  <div class="divPanel notop page-content">
    
    <div class="row-fluid">
      <!--Edit Main Content Area here-->
      <div class="span12" id="divMain">
        <h1>Hi There</h1>
        
	<p><strong>According to a friend who works for a blood transfusion agency in Kenya, less than half of the blood needed for transfusions in Kenya is actually collected.</strong> Now I do not know about you but I think that paints a very grim picture for anyone who is in need of a blood transfusion. So what happens to those patients in the hospital? From experience, they seek out relatives and friends to donate (Its good to be popular :-)). If they do not have any family or friends? Your guess is as good as mine. What if you and I could change that? What if we could give life to everyone in hospital right now? How many lives can we save, together? 10? 50? 100? 1000? I believe the potential is endless. All we need to do is stand united and save lives.</p>
	
        <br />                   
        <br />                 
	
	<div class="row-fluid">
	  <div class="span3">
	    <div class="box">
	      <i class="icon-pencil"></i>
	      <h4 class="title">Register</h4> <hr/>
	      <p>
		Fill our our registration form with the relevant details. The process is very simple and should take you a few seconds
		You could also register using your phone. Send the message <b>Key word here</b> to <b>Phone number here</b>
	      </p>
	    </div>
	  </div> 
	  
	  <div class="span3">
	    <div class="box">
	      <i class="icon-bullhorn"></i>
	      <h4 class="title">Get Alerts</h4> <hr/>
	      <p>
		Once a donor in need who matches your blood group is in need, we shall send you an alert with details of where to go.
		And don't worry. We shall only send you a couple messages a month. And you can unsubscribe at any time.
	      </p>
	    </div>
	  </div> 
	  
	  <div class="span3">
	    <div class="box">
	      <i class="icon-heart"></i>
	      <h4 class="title">Donate Blood</h4> <hr/>
	      <p>
	      If you are in a position to assist, please let us know by responding to the message. Make your way as soon as possible to 
	      the hospital. Please let us know of your experience once done. We would be delighted to hear from you.
	      </p>
	    </div>
	  </div> 
	  
	  <div class="span3">
	    <div class="box">
	      <i class="icon-user"></i>
	      <h4 class="title">Refer Friends</h4> <hr/>
	      <p>
		If you believe in our cause, please let a friend know and encourage them to sign up. As our numbers grow we shall be able 
		to save more lives. 
	      </p>
	    </div>
	  </div>    
	</div>
        	  
	
      </div>
      <!--End Main Content-->
    </div>
    
    {% endblock %}
    
